.h-content {
  background: #fff; }

.h-banner {
  width: 100%; }
  .h-banner > img {
    width: 100%; }

.h-nav {
  width: 100%;
  border-bottom: 0.05rem solid #eee; }
  .h-nav li {
    width: 100%;
    display: flex; }
    .h-nav li a {
      display: block;
      flex: 1; }
      .h-nav li a > img {
        width: 100%; }

.h-list1 {
  width: 100%; }
  .h-list1 .h-list-1 {
    width: 100%;
    padding: 0.2rem;
    border-bottom: 0.05rem solid #eee; }
    .h-list1 .h-list-1 > div {
      width: 100%; }
      .h-list1 .h-list-1 > div h4 {
        color: #000;
        font-size: 0.18rem !important; }
      .h-list1 .h-list-1 > div p {
        color: #999999;
        font-size: 0.15rem;
        margin-top: 0.05rem; }
      .h-list1 .h-list-1 > div > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 0.1rem; }
        .h-list1 .h-list-1 > div > ul li {
          width: 30.5%; }
          .h-list1 .h-list-1 > div > ul li > img {
            width: 100%; }
      .h-list1 .h-list-1 > div > div {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .h-list1 .h-list-1 > div > div > div {
          display: flex;
          color: #898989; }
          .h-list1 .h-list-1 > div > div > div > p {
            display: flex;
            align-items: center; }
            .h-list1 .h-list-1 > div > div > div > p > img {
              width: 0.2rem; }
            .h-list1 .h-list-1 > div > div > div > p span {
              font-size: 0.16rem;
              color: #898989;
              padding-left: 0.05rem; }
          .h-list1 .h-list-1 > div > div > div > p:nth-of-type(2) {
            padding-left: 0.4rem; }

.h-d {
  position: fixed;
  right: 0.2rem;
  bottom: 0.6rem;
  width: 1rem; }
  .h-d > img {
    width: 100%; }

.nav-watch {
  width: 100%; }
  .nav-watch > .h-wacth {
    width: 100%; }
    .nav-watch > .h-wacth > img {
      width: 100%; }
  .nav-watch > .forum-nav {
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    display: flex;
    margin-top: -0.05rem;
    background: #fff; }
    .nav-watch > .forum-nav li {
      flex: 1;
      text-align: center;
      border-bottom: 0.01rem solid #FF7800; }
      .nav-watch > .forum-nav li a {
        display: block;
        width: 100%;
        color: #000;
        font-size: 0.2rem;
        text-decoration: none;
        animation: h-head 0.2s linear; }
      .nav-watch > .forum-nav li .router-link-active {
        background: #FF7800;
        color: #fff;
        animation: h-show 0.2s linear; }
    .nav-watch > .forum-nav .nav-l {
      border-top-right-radius: 0.05rem; }
    .nav-watch > .forum-nav .nav-r {
      border-top-left-radius: 0.05rem; }

@-webkit-keyframes h-show {
  0% {
    background: white;
    color: #292929;
    opacity: .4; }
  100% {
    background: #FF7800;
    color: white;
    opacity: 1; } }
@-webkit-keyframes h-head {
  0% {
    background: #FF7800;
    color: white;
    opacity: .4; }
  100% {
    background: white;
    color: #292929;
    opacity: 1; } }
.all {
  width: 100%; }
  .all li {
    width: 100%;
    padding: 0.2rem;
    border-bottom: 0.05rem solid #eee; }
    .all li > div {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .all li .all-top {
      width: 100%; }
      .all li .all-top .all-img {
        width: 40%;
        text-align: center; }
        .all li .all-top .all-img > div {
          width: 0.6rem;
          height: 0.6rem;
          margin: 0 auto; }
          .all li .all-top .all-img > div > img {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 0.5rem; }
        .all li .all-top .all-img > p {
          color: #8F8F8F;
          padding-top: 0.05rem;
          font-size: 0.15rem; }
      .all li .all-top .all-font {
        width: 60%;
        display: flex; }
        .all li .all-top .all-font > i {
          display: block;
          width: 0.18rem;
          height: 0.21rem;
          background: url(../../img/h-img/up.png) no-repeat;
          background-size: 100% 100%; }
        .all li .all-top .all-font > p {
          color: #000;
          font-size: 0.18rem;
          padding-left: 0.05rem; }
    .all li .all-bot {
      padding: 0.15rem 0 0 0.35rem; }
      .all li .all-bot p {
        font-size: 0.15rem;
        color: #8F8F8F;
        display: flex;
        align-items: center; }
        .all li .all-bot p:nth-child(2) > i {
          display: block;
          width: 0.25rem;
          height: 0.15rem;
          background: url(../../img/h-img/icon-view.png) no-repeat;
          background-size: 100% 100%; }
        .all li .all-bot p:nth-child(2) span {
          padding-left: 0.05rem; }
        .all li .all-bot p:nth-child(3) > i {
          display: block;
          width: 0.20rem;
          height: 0.20rem;
          background: url(../../img/h-img/icon-comment.png) no-repeat;
          background-size: 100% 100%; }
        .all li .all-bot p:nth-child(3) span {
          padding-left: 0.05rem; }

/*# sourceMappingURL=hltwo.css.map */
